################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FeedbackHub/.vs
/FeedbackHub/FeedbackHub/bin/Debug/net9.0-windows
/FeedbackHub/FeedbackHub/obj
/FeedbackHub/FeedbackHub/FeedbackHub.csproj.user
/FeedbackHub/FeedbackHub/Model/Database
